<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.probotisop.xsharefix">

    <application
        android:label="X Share Fix"
        android:exported="true">

        <activity
            android:name=".ShareHandlerActivity"
            android:exported="true"
            android:theme="@style/Theme.Material3.DayNight.NoActionBar">

            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>

        </activity>

    </application>
</manifest>
